In [1]:
import pymysql

In [2]:
# 設定資料庫連線資訊
host = 'localhost'
port = 3306
user = 'root'
passwd = 'zxc54321'
db = 'TESTDB'
charset = 'utf8mb4'

# 建立連線
conn = pymysql.connect(host=host, port=port, user=user,
                       passwd=passwd, db=db, charset=charset)
print('Successfully connected!')

# 建立游標
cursor = conn.cursor()

Successfully connected!

In [60]:
# 建立連線
# 試著 INSERT 一筆資料
# 注意 TABLE 欄位的資料型態

# 先寫好 SQL 語法
sql = """
INSERT INTO Staff (ID, Name, DeptId, Age, Gender, Salary, recordDt)
VALUES ('001', 'Mike', '002', 45, 'M', 60000, '2020-04-24 14:59:57');
"""

# 將指令放進 cursor 物件，並執行
# cursor.execute(sql)

In [ ]:
# 產生時間的方式如下
import time
t = time.localtime()
dt = time.strftime('%Y-%m-%d %H:%M:%S', t)

# 試著再 INSERT 一筆資料
sql = """
INSERT INTO Staff (ID, Name, DeptId, Age, Gender, Salary, recordDt)
VALUES ('002', 'Judy', '002', 30, 'F', 48000, '{}');
""".format(dt)

# 將指令放進 cursor 物件，並執行
# cursor.execute(sql)

1

In [4]:
# 因 pymysql 預設不會自動 commit，故要記得 commit
conn.commit()

In [11]:
select_sql = """
select
    ID,
    Name,
    DeptId,
    Age,
    Gender,
    Salary,
    recordDt
from Staff;
"""

cursor.execute(select_sql)

2

In [10]:
# fetch -> 兩層tuple包起來,
# 資源直接從RAM釋放，若要操作資料，需要宣告變數去接
# cursor.fetchall()

data = [row for row in cursor.fetchall()]
data

[]

In [3]:
# 先寫好 SQL 語法
# 並將語法中會不斷改變的部分挖空 ( %s )
sql_insert = """
INSERT INTO Staff (ID, Name, DeptId, Age, Gender, Salary, recordDt)
VALUES (%s, %s, %s, %s, %s, %s, %s);
"""

# 整理 jsondata 成可 insert 進資料庫的樣子，格式如下
values = [
    ('003', 'Allen', '001', '22', 'M', '50000', '2020-10-13 21:41:49'),
    ('004', 'Tom', '002', '47', 'M', '47000', '2020-10-13 21:41:49'),
    ('005', 'Jack', '003', '36', 'M', '52000', '2020-10-13 21:41:49'),
    ('006', 'Abby', '002', '24', 'F', '45000', '2020-10-13 21:41:49'),
    ('007', 'Trump', '001', '80', 'M', '80000', '2020-10-13 21:41:49'),
    ('008', 'Marry', '003', '29', 'F', '87000', '2020-10-13 21:41:49'),
]

cursor.executemany(sql_insert, values)

conn.commit()
# import time
# t = time.strftime('%Y-%m-%d %H:%M:%S', time.localtime())
# values = [tuple(jsondata[d].values()) + (t,) for d in jsondata]
# values

In [ ]:
# 關閉游標及連線
cursor.close()
conn.close()